body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#app {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
}
.movie-card {
  border-radius: 5px;
  border: 1px solid blueviolet;
  margin: 5px;
  padding: 10px;
  background-color: rgb(217, 240, 219);
}
.btn {
  width: 150px;
  background-color: dodgerblue;
  color: white;
  padding: 8px 2px;
  border: 1px solid white;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  #app {
    grid-template-columns: auto;
  }
}
